.hero-container {
  width: 100%;
  height: 500px;
  background-color: beige;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgba(gray, 0.6),
        rgba(beige, 0.7)
      ),
      url(../images/AdobeStock_294430247.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .callout {
    margin-top: 70px;
    text-align: center;
    width: 500px;
    min-height: 200px;

    h1 {
      margin-top: 90px;
      color: white;
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 20px;
    }
  }

  .site-button {
    padding: 10px 25px;
    background-color: peru;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 15px;
    border-radius: 7px;
  }
}

@media (max-width: 1000px) {
  .hero-container {
    display: flex;
  }
}
