nav {
  position: relative;
  width: 80%;
  height: 70px;
  z-index: 99;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    p {
      margin-top: 20px;
      font-size: 20px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: white;
      letter-spacing: 2px;
    }
  }

  .link-wrap {
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      color: white;
      font-size: 15px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      text-decoration: none;
      letter-spacing: 2px;
    }

    span {
      margin: 0 20px;
      color: peru;
      font-size: 30px;
    }
  }
}
@media (max-width: 1000px) {
  nav {
    .link-wrap {
      &:hover > .links {
        display: flex;
      }

      .links {
        margin-top: 40px;
        display: none;
        flex-direction: column;

        span {
          display: none;
        }
      }
      .navicon {
        i {
          display: flex;

          &:hover > .links {
            display: block;
            background-color: white;
          }
        }
      }
    }
  }
}
